spring:
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 100ms
      lettuce:
        shutdown-timeout: 100ms

management:
  endpoints:
    web:
      exposure:
        include: prometheus, health, info
  metrics:
    tags:
      application: rate-limiter-service