global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'spring-actuator'
    metrics_path: '/actuator/prometheus'
    dns_sd_configs:
      - names:
          - 'app'
        type: 'A'
        port: 8080